<!DOCTYPE html>
<html>
<head>
    <title>Dutch Go: @ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fortawesome/fortawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet"/>
</head>
<body>
    <div class="row">
    <header class="container-fluid">
      <nav class="navbar navbar-dark bg-dark-expand-md">
        <h1 class="navbar-brand"><i class="fas fa-paint-brush"></i>Welcome to Dutch Treat</h1>
        <button class="navbar-toggler" data-toggle="collapse" data-target="theMenu">
           <span class="navbar-toggler-icon"></span>
        </button>
            <div id="theMenu" class="navbar-collapse collapse">
                <ul>
                    <li  class="nav-item" ><a class="nav-link" asp-controller="App" asp-action="Index">Home</a></li>
                    <li  class="nav-item" ><a class="nav-link" asp-controller="Contact" asp-action="Contact">contact</a></li>
                    <li  class="nav-item" ><a class="nav-link" asp-controller="About" asp-action="About">About</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="container">
        <h2 class="text-center">@ViewBag.Title</h2>
        @RenderBody()
    </section>
    <footer class="container"> 
        <div class="text-center">CopyRight2017 Dutch Treat LLC</div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/index.js"></script>

    @RenderSection("scripts", false)
    </div>
</body>
</html>